{% extends 'myprojectapp/base.html' %}
{% load static %}
{% block content %}
	<!-- cart -->
	<div class="add-to-cart">
		<!-- container -->
		<div class="container">
			<h3>Your Shopping Cart is empty.</h3>
			<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorp uspendisse a pellentesque.
				Etiam ullamcorp uspendisse a pellentesque.Lorem ipsum dolor sit amet enim.
				Your Bascket Is Empty Please Go <a href="{% url 'men:men' %}">here</a> And Shop
			</p>
		</div>
		<!-- container -->
	</div>
	<!-- //cart -->
{% endblock %}